/* You can add global styles to this file, and also import other style files */

body{
    background-color: #21242A;
}

/* Marker tweaks */
.mapboxgl-popup {
    padding-bottom: 50px;
}
     
.mapboxgl-popup-close-button {
    display: none;
}
.mapboxgl-popup-content {
    padding: 0;
    width: 250px;
}
h3, h4 {
    font: 400 12px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
}
.mapboxgl-popup-content-wrapper {
    padding: 1%;
}
.mapboxgl-popup-content h3 {
    background: #3D5E80;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}
    
.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
}
    
.mapboxgl-popup-content div {
    padding: 10px;
}
    
.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}
    
.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}
    
.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #3D5E80;
}