/* You can add global styles to this file, and also import other style files */

body{
    background-color: #21242A;
}

span{
    color: #dfe5eb;
}

.my-container{
    width: 75%;
    height: 75%;
    position: absolute;
    top: 75%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
}

.sidebar {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;    
}

.heading {
    font-family: 'Roboto', sans-serif;
    background: #1A2637;
    color: white;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

/* Sidebar */
.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: -8px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;    
    position:absolute; 
    top:10px; 
    left:10px; 
    z-index:1;
    border-radius: 3px;
}

.openbtn:hover {
    /* background-color: #444; */
    background-color: #1A2637;
}

.details{
    padding-left: 8px;
    color: rgb(117, 117, 117);
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
    /* background-color: white; */
    /* background-color: #1A2637; */
    background-color: #111;
}
  
.listings .item {
    display: block;
    border-bottom: 1px solid #212529;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: block;
    /* color: #00853e; */
    /* color: rgb(238, 136, 89); */
    color: #00853e;
    /* font-weight: 700; */
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { 
    /* color: #8cc63f; */
    /* color: rgb(117, 117, 117); */
    color: white;
}

.listings .item.active {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#main {
    position:relative;
    transition: margin-left .5s;
    padding: 16px;
    height: 100%;
}

#map { 
    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    width: 100%;
    height: 100%; 
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* Search bar tweaks */
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.geocoder-dropdown-item {
    padding: 5px;
}

.geocoder-dropdown-icon {
    margin-right: 10px;
}

.geocoder-dropdown-text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    /* font-size: larger; */
}

/* Marker tweaks */
.mapboxgl-popup {
    padding-bottom: 50px;
}
     
.mapboxgl-popup-close-button {
    /* display: none; */
    color: white;
    padding-right: 15px;
    margin-top: -5px;
    font-size: 25px;
}
.mapboxgl-popup-content {
    padding: 0;
    width: 250px;
}
h3, h4 {
    font: 400 12px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
}
.mapboxgl-popup-content-wrapper {
    padding: 1%;
}
.mapboxgl-popup-content h3 {
    background: #3D5E80;
    /* background: #00853e; */
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}
    
.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
}
    
.mapboxgl-popup-content div {
    padding: 10px;
}
    
.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}
    
.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}
    
.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #3D5E80;
}